<script>
  function showmap(position){
        var mapOptions = {
          center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
          zoom: 11,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        <% @markets.each do |market| %>
          placeMarker(<%= market.lon %>, <%= market.lat %>, "<%= market.name %>", map);
        <% end %>
      }
      
  $(document).ready(function(){
    x = document.getElementById("demo");
      if (navigator.geolocation)
        {
        navigator.geolocation.getCurrentPosition(showmap);
        }
      else{x.innerHTML="Geolocation is not supported by this browser.";}
  });

</script>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to('Map view', root_path, :data => {:toggle=>"tab"}) %>
  </li>
  <li>
    <%= link_to('List view', list_markets_path, :data => {:toggle=>"tab"}) %>
  </li>
</ul>


    
    <div id="map-canvas" style= "height: 600px; width: 600px;"></div>
    <div id="demo"></div>
   
