<ul class="nav nav-tabs">
  <li>
    <%= link_to('Map view', root_path, :data => {:toggle=>"tab"}) %>
  </li>
  <li class="active">
    <%= link_to('List view', list_markets_path, :data => {:toggle=>"tab"}) %>
  </li>
</ul>

<h2>Showing markets near [city]</h2>
<br />

<div class="results">
	<ul class="resultslist">
		<% @markets.each do |market| %>
		  <li class="row">
		  	<span class="span3">
		  		<%= link_to market.name, market %>
		  	</span>
		  	<span class="span4 address">
		  		<%= market.street %>
		  	</span>
		  	<span class="span4 schedule">
		  		<%= market.schedule %>
		  	</span>
		  	</li>
		  <hr />
		<% end %>
	</ul>
</div>