<script>
	$('#main_nav').children('li').removeClass('active');
	$('#nav_markets').addClass('active');
</script>

<span class="breadcrumbs"><%= link_to('Home', root_path) %> › <%= link_to('Markets', markets_path) %> (<%= link_to('map', markets_path) %> / <%= link_to('list', list_markets_path) %>) › Market details for <%= @market.name %>
</span>
<hr />


<div class="details_page">

	<h3><%= @market.name %></h3>
	<%= @market.street %><br />
	<%= @market.city %>, <%= @market.state %> <%= @market.zip %><br /><br />

	<span class="labels">Schedule</span>
	<% if @market.schedule? %>
		<%= @market.schedule %>
	<% else %>
		unavailable
	<% end %>
	<br /><br />

	<span class="labels">Website</span>
	<% if @market.url? %>
		<%= link_to(@market.url, @market.url) %>
	<% else %>
		none
	<% end %>
	<br /><br />

	<span class="labels">Payments</span>
		<span class="sub_labels">Cash: </span>Yes
		<br />

		<span class="sub_labels">Credit: </span>
		<% if @market.credit? %>
			Yes
		<% else %>
			No
		<% end %>
		<br />
		<span class="sub_labels">Supplemental Nutrition Assistance Program (SNAP): </span>
		<% if @market.snap? %>
			Yes
		<% else %>
			No
		<% end %>
		<br />
		<span class="sub_labels">WIC Farmers Market Nutrition Program (WIC-FMNP): </span>
		<% if @market.wic? %>
			Yes
		<% else %>
			No
		<% end %>
		<br />
		<span class="sub_labels">WIC Cash Value Vouchers: </span>
		<% if @market.wcash? %>
			Yes
		<% else %>
			No
		<% end %>
		<br />
		<span class="sub_labels">Senior Farmers Markets Nutrition Program (SFMNP): </span>
		<% if @market.sfmnp? %>
			Yes
		<% else %>
			No
		<% end %>
		<br />

	<br />

	
	<div class="results">
		<div class="row">
			<span class="span12"><h4>Vendors at this market</h4></span>
			<span class="span12 instructions_details">Click SUBSCRIBE to receive notifications when the vendor will be at this market.</span>
		</div>
		<br />

		<ul class="resultslist">
			<hr />
			<% @market.participations.each do |participation| %>
			<%- vendor = participation.vendor %>
			<li>
		  <button style="<%= "display:none" unless participation.subscribed?(current_user) %>" type="button" class="btn btn-primary unsubscribe subscribebtn" data-toggle="button" data-id="<%= participation.id %>">Unsubscribe</button>
			<button style="<%= "display:none" if participation.subscribed?(current_user) %>" type="button" class="btn btn-primary subscribe subscribebtn" data-toggle="button" data-id="<%= participation.id %>">Subscribe</button>
				<%= link_to vendor.name, vendor %>
			</li>
			<hr />
			<% end %>
		</ul>
	</div>

</div>