<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "farmersfeed.us" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>		
  
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYNGVNpeu-ZLi3UVn3JTLqqclST_UWDfc&sensor=false">
  </script>
  
  <script>
			var lat;
			var long;

		function showPosition(position)
			{
			x.innerHTML="Latitude: " + position.coords.latitude + 
			"<br>Longitude: " + position.coords.longitude; 
			lat = position.coords.latitude;
			long = position.coords.longitude;
			}
			
		function placeMarker(lat, long, title, map){

			 var myLatlng = new google.maps.LatLng(lat,long);

       var infowindow = new google.maps.InfoWindow();

				var marker = new google.maps.Marker({
						position: myLatlng,
						map: map,
						title: title
  			});

        infowindow.setContent(title);

        google.maps.event.addListener(marker, 'mouseover', function(e) {   
          infowindow.open(map, marker);
        });

        google.maps.event.addListener(marker, 'mouseout', function(e) {   
          infowindow.close(map, marker);
        });
		}

	</script>
  
  </head>
  <body >
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
